* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;

}

.app {
    height: 100vw;
    background-image: url(../Images/background.png);
    background-repeat: no-repeat;
    background-size: contain;

}

.nav-bar-list {
    display: flex;
    align-items: center;
    gap: 32px;
    list-style: none;

    
}

.nav-bar {
    display: flex;
    align-items: center;
    max-width: 1440px;
    height: 72px;
    padding: 0 20px;
    justify-content: space-between;
    margin: auto;
}

    

.nav-link-text {
    color: #18191F;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;

}
.nav-bar-badge {
    display: flex;
    gap: 12px;
    list-style: none;

}
