* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;

}

.app {
    background-image: url(../Images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -100px;

}

.nav-bar-list {
    display: flex;
    align-items: center;
    gap: 32px;
    list-style: none;

    
}

.nav-bar {
    display: flex;
    align-items: center;
    max-width: 1440px;
    height: 72px;
    padding: 0 20px;
    justify-content: space-between;
    margin: auto;
}

    

.nav-link-text {
    color: #18191F;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;

}
.nav-bar-badge {
    display: flex;
    gap: 12px;
    list-style: none;

}

.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 96px auto auto;
    max-width: 1440px;
    min-height: 100vh;
    gap: 45px; 
    

}    
    
.hero-title {
    color: #18191F;
    font-weight: 800;
    font-size: 72px;
    line-height: 98px;
    margin-top: 72px;
    gap: 45px;


}    

.hero-content {
    gap: 32px;
    display: flex;
    flex-direction: column;
    padding: 0 20px;    
}

.hero-button {
    color: #FFFFFF;
    width: 154px;
    height: 48px;
    background: #8C30F5;
    border-radius: 6px;
    border: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
}

.company-logos {
   height: 110px;
   display: flex;
   align-items: center;
   margin: auto; 
   gap: 64px;
}
.hero-content-wrapper {
    display: flex;
    justify-content: space-between ;
}

.hero-company-logos {
    display: flex;
    align-items: center;
    margin: auto;
    height: 110px;
    gap: 64px;

}

.second-section {
    max-width: 1440px;
    min-height: 672px;
    background-color: #FFFFFF;
    
}



.second-section-text {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #18191F;
    text-align: center;
    gap: 8px;
    min-height: 136px;
    margin: 80px auto auto;
    
    
}

.second-section-title {
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
    margin-bottom: 8px;
}

.second-section-description {
    width: 540px;
    height: 64px;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
}

.first-row {
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 48px 165px 64px;
    
}

.feature-list {
    text-align: center;
    width: 350px;
    list-style: none;

}

.feature-list-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color:#18191F;

}

.feature-list-content {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color:#18191F;
}

.second-row {
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 64px 165px auto;

}

